---
import About from '../components/About.astro';
import BackToTop from '../components/BackToTop.astro';
import Menu from '../components/Menu.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Whatsapp from '../components/Whatsapp.astro';
---

<Layout>
    <main>
        <Hero />
        <About />
        <Menu />
        <BackToTop />
        <Whatsapp /> 
    </main>
</Layout>