---
import Logo from './Logo.astro';
---

<div id="aboutus" class="flex flex-col bg-slate-900 px-10 py-10">
  <h2 class="font-signika text-center text-slate-100 text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl">NOSOTROS</h2>
  <p class="font-rubik text-justify text-slate-300 py-10 text-base md:text-lg md:px-20 lg:px-40 xl:px-80 2xl:mx-60">
    Bienvenidos a <span class="font-signika"><b>PALADAR</b></span>, un rincón de Argentina en el corazón de España.
    <br /><br />
    Nuestro restaurante nace con la pasión por compartir la rica y variada <b>gastronomía argentina</b>, ofreciendo a
    nuestros comensales una experiencia auténtica que celebra los sabores, aromas y tradiciones de nuestra tierra. Desde
    nuestras <b>famosas y jugosas carnes</b> hasta la más <b>fina pasta casera</b>, cada platillo es elaborado con
    ingredientes frescos y de calidad, siguiendo <b>recetas tradicionales</b> que han sido transmitidas de generación en
    generación. Además, organizamos <b>eventos especiales</b>, como las <b>noches de tango</b> y las <b>catas de vino</b
    >, brindando la oportunidad de sumergirse en nuestra rica cultura mientras disfrutan de nuestros platos.
    <br /><br />
    Puedes contactarnos para despejar tus dudas, <b>reservar una mesa</b> y/o para enterarte de nuestros <b
      >próximos eventos</b
    >.
    <br /><br />
    ¡Esperamos verte pronto!
  </p>
  <div class="flex justify-center align-middle">
    <Logo size={96} />
  </div>
</div>

<style>
  .bg-about {
    padding: 12rem 6rem;
    background-image: url('/public/bg-aboutus.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
