---

---

<!-- BackToTop -->
<button id="backToTop">
  <img class="invert" src="/svg/backToTop.svg" alt="" width="32" />
</button>

<style>
  button {
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #394e6f;
    border: 2px solid #394e6f;
    border-radius: 32px;
    opacity: 0;
    z-index: 10;
    transition: all 0.25s;
  }

  button:hover {
    box-shadow: #62799e 0px 0px 8px;
  }
</style>

<script>
  const backToTopButton = document.getElementById('backToTop');

  window.addEventListener('scroll', () => {
    if (backToTopButton) {
      if (window.scrollY > 100) {
        backToTopButton.style.opacity = '1';
        backToTopButton.style.visibility = 'visible';
      } else {
        backToTopButton.style.opacity = '0';
        backToTopButton.style.visibility = 'hidden';
      }
    }
  });

  backToTopButton?.addEventListener('click', () => {
    window.scrollTo({
      top: 0,
      behavior: 'smooth',
    });
  });
</script>
