---

---

<div id="contact" class="grid grid-cols-1 lg:grid-cols-2 text-center border-b border-white py-10">
  <!-- Primera Columna -->
  <div class="flex flex-col gap-2 order-2 lg:order-1">
    <h2 class="font-signika text-4xl pb-2 md:text-5xl xl:text-6xl">CONTACTO</h2>
    <div class="mx-auto">
      <div class="flex justify-start align-center gap-2 pb-2">
        <img class="invert" src="svg/phone.svg" alt="Ícono de teléfono" width="20" />
        <p>+54 9 11 1234-5678</p>
      </div>
      <div class="flex justify-start align-center gap-2">
        <img class="invert" src="svg/mail.svg" alt="Ícono de correo" width="20" />
        <p>contacto@restaurantepaladar.com</p>
      </div>
    </div>
  </div>
  <!-- Segunda Columna -->
  <div class="flex flex-col order-1 gap-2 pb-10 lg:pb-0">
    <h2 class="font-signika text-4xl pb-2 md:text-5xl xl:text-6xl">HORARIOS</h2>
    <div class="font-ubuntu mx-auto">
      <div class="text-right">
        <p class="pb-2"><b>Lun - Vie:</b> 12:00 - 15:00 | 19:00 - 23:00</p>
        <p class="pb-2"><b>Sábado:</b> 12:00 - 16:00 | 19:00 - 01:00</p>
        <p><b>Domingo:</b> 12:00 - 16:00 | 19:00 - 23:00</p>
      </div>
    </div>
  </div>
</div>
