---
import Navigation from './Navigation.astro';
---

<header class="sticky top-0 z-10 min-h-[12vh] flex flex-col justify-center lg:static lg:top-auto lg:z-auto">
    <nav>
        <Navigation />
    </nav>
</header>

<style>    
    header {
        background-color: rgb(30, 41, 59, 0.9);
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 6rem;
        color: white;
    }

    @media (max-width: 1023.98px) {
        nav {
            padding: 1rem 2rem;
        }
    }

    @media (max-width: 767.98px) {
        nav {
            padding: 0.5rem 2rem;
        }
    }

    @media (max-width: 425.98px) {
        nav {
            padding: 0.7rem 1rem;
        }
    }
</style>