---

---

<!-- Whatsapp -->
<a
  href="https://api.whatsapp.com/send?phone=5491123456789&text=Hola, me gustaría reservar una mesa para X personas, el día XX/XX/XXXX a las XX:XX."
  target="_blank"
>
  <img src="/svg/whatsapp.svg" alt="Ícono de Whatsapp" />
</a>

<style>
  a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 32px;
    z-index: 100;
    opacity: 80%;
    transition: all 0.25s;
  }

  a:hover {
    background-color: #1ba34d;
    opacity: 100%;
  }

  img {
    width: 64px;
    height: 64px;
    filter: invert(1);
  }

  @media (max-width: 767.98px) {
    img {
      width: 48px;
      height: 48px;
    }
  }
</style>
